<html>
  <head>
    <title>Chirp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/style1.css">
  </head>
  <body ng-app="chirpApp">
    <div id='main' class="container">
      <nav class="navbar-fluid navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"> Chirp! </a>
            <p class="navbar-text"> Learn the MEAN stack by building this tiny app</p>
            <p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#/login">Login</a> or <a href="#/register">Register</a></p>
            <p class="navbar-right navbar-text" ng-show="authenticated"><a href="#" ng-click="signout()">Logout</a></p>
           <p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user}}</p> 
            
        </div>
      </nav>
      <div class="col-md-offset-2 col-md-8">
        <div ng-view>
        </div>
      </div>
    </div>
      <!-- Modules -->
      <script src= "js/App.js"></script>
      <!-- Controllers -->
      <script src="js/Controller/MainController.js"></script>
      <script src="js/Controller/authController.js"></script>
      <!-- Services -->
      <script src="js/Services/postService.js"></script>
  </body>
</html>